#board {
  height: 100vh;
  width: 100vw;
  display: grid;
  &.active {
    span {
      border: 1px solid #555;
    }
  }
  span {
    border: 1px solid #777;
    // transition: background-color 0.33s;
    // will-change: background-color;

    &.alive {
      background-color: #17b0cd;
      box-shadow: inset 1px 1px 0 0 #118197;
    }
  }
}
