header {
  width: 100%;
  position: fixed;
  transition: 0.33s;
  background: linear-gradient(to bottom, #00000080, #80808000);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  &.hidden {
    transform: translateY(-100%);
  }
}
